@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

/*
Orange: #FF7849;
BG: #232C33;
*/

/* GENERAL */

* {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	color: white;
}

a {
	text-decoration: none;
}

body {
	background: #23242C;
}

/* HEADER */

header {
	margin-top: 5%;
	text-align: center;
}

header h1 {
	margin-bottom: 2%;
	font-size: 84px;
	color: #FF7849;
}

header a {
	font-size: 18px;
	color: white;
	display: inline-block;
	width: 75px;
	margin: 0 5%;
}

/* AMIT */

.amit {
	width: 275px;
	height: 275px;
	margin: 4% auto;
	border: 3px solid #EF6839;
	border-radius: 275px;
	background: url(amit.jpg) no-repeat 0 0;
	background-size: 100%;
}

/* NAV */

nav {
	width: 100%;
	position: absolute;
	bottom: 2.5%;
	left: 0;
	background-color: #EF6839;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline-block;
	width: 11%;
	margin: 7px 2%;
	background-color: white;
	padding: 3px;
	border-radius: 20px;
}

nav li a {
	font-size: 18px;
	color: #23242C;
}