@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

/* GENERAL */

* {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
}

body {
	background: #23242C;
	position:relative;
}

a {
	text-decoration: none;
	color: inherit;
}

/* HOME */

body.home{
	background-color: #FF7849;
}

.home header {
	background: white;
}

.home nav {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
}

.home nav ul {
	padding: 20px 10px;
	height: 30px;
	text-align: center;
	background: #FF7849;
}

.home nav ul li {
	display: inline-block;
	color: white;
	margin: 3px 10px;
	padding: 2px 10px;
	border-radius: 5px;
	background: #23242C;
}

.home .slideshow {
	height: 100%;
	background: url(img/quotebg-1.jpg) no-repeat 0 -50px;
	background-size: 1280px;
	background-attachment: fixed;
	height: 451px;
}

.home .slideshow .quote {
	position: absolute;
	right: 0;
	width: 300px;
	padding: 10px;
	margin: 20px;
	border-radius: 5px;
	background-color: white;
}

/* HEADER */

header {
	background: #FF7849;
	padding: 10px 0;
	height: 95px;
	position: relative;
}

header h1 {
	display: inline-block;
	padding: 29.5px;
	padding-left: 100px;
	margin-left: 10px;
	font-size: 36px;
	color: #23242C;
	position: relative;
}

header h1:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 10px;
	width: 75px;
	height: 75px;
	border: 2px solid #23242C;
	border-radius: 50px;
	background: url(img/amit.jpg) no-repeat 0 0;
	background-size: 100%;
}

header ul {
	position: absolute;
	right: 10px;
	display: inline-block;
	list-style-type: none;
	bottom: 30px;
}

header ul li {
	display: inline-block;
	padding: 10px;

}

.icon {
	border-radius:100px;
	display:none;
}


/* ARTICLE */

article {
	margin: 50px auto;
	padding: 20px;
	max-width: 800px;
}

article a {
	color: #FF7849;
}

article p {
	color: white;
	margin: 20px;
}

article p a {
	display: inline-block;
	padding-left: 20px;
}

@media screen and (max-width: 660px) {

	.icon {
		display:inline-block;
		position:absolute;
		bottom:40px;
	}

	.facebook {
		margin-right:9999px;
		overflow:hidden;
	}

	.facebookicon {
		right:100px;
	}

	.email {
		margin-right:999px;
		overflow:hidden;
	}

	.emailicon {
		right:50px;
	}

	.linkedin {
		margin-right:9999px;
		overflow:hidden;
	}

	.linkedinicon {
		right:0px;
	}
}