/* General */

* {
	background-color: darkgray;
	color: white;
	margin:0;
	padding:0;
}

body {

}

/*Top header of the website*/

header {
	text-align: center;
	font-size: 40px;
	font-family: 'Sonsie One', cursive;
	width:60%;
	margin:0 auto;
	padding-bottom:20px;
	border-bottom: 2px solid white;
}

/* Navigation */

nav {
	margin-top:80px;
	padding-left:20%;
	background-color:#3D464E;
}

nav ul {
	display:inline-block;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-left:-4px;
}

nav ul li a {
	display:inline-block;
	background-color:#4E5964;
	padding:5px;
	width:70px;
	border-left:2px solid #3D464E;
	padding-top:45px;
	padding-bottom:45px;
	transition: all 200ms ease-in;
}

nav ul li a:hover {
	background-color:#0f0;
	width:120px;
}