@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

/* GENERAL */

* {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
}

body {
	background: #23242C;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
}

/* HOMEPAGE */

body.home{
	background-color: #FF7849;
}


/* NAVIGATION */

.home nav {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
}

.home nav ul {
	padding: 20px 10px;
	padding-bottom: 0;
	height: 30px;
	text-align: center;
	background: #FF7849;
	font-size: 0px;
}

.home nav ul li {
	font-size: 16px;
	display: inline-block;
	color: white;
	margin: 3px 10px;
	padding: 2px 10px;
	border-radius: 5px;
	background: #23242C;
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

.home nav ul li:hover {
	color: #23242C;
	background: white;
}

.home .slideshow {
	height: 100%;
	background: url(img/quotebg-1.jpg) no-repeat 0 -50px;
	background-size: 1280px;
	background-attachment: fixed;
	height: 451px;
}

.home .slideshow .slides {
	position: relative;
	right: 0;
	width: 300px;
	padding: 10px;
	margin: 20px;
	border-radius: 5px;
	background-color: white;
}

/* HEADER */

.home header {
	background: white;
}

header {
	background: #FF7849;
	padding: 10px 0;
	height: 95px;
	position: relative;
}

header h1 {
	display: inline-block;
	padding: 29.5px;
	padding-right: 0;
	padding-left: 100px;
	margin-left: 10px;
	font-size: 36px;
	color: #23242C;
	position: relative;
}

header h1:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 10px;
	width: 75px;
	height: 75px;
	border: 2px solid #23242C;
	border-radius: 50px;
	background: url(img/amit.jpg) no-repeat 0 0;
	background-size: 100%;
}

header span {
	font-size: 36px;
}

header ul {
	position: absolute;
	right: 10px;
	bottom: 30px;
	display: inline-block;
	list-style-type: none;
	font-size: 0px;
}

header ul li {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
}

header ul li:hover {
	color: #FF7849;
}

/* Social Media Icons */

header figure {
	width: 32px;
	height: 32px;
	border-radius: 100px;
	display: none;
}

.facebookicon {
	background: url("img/light/png/facebook.png") no-repeat;
}

.emailicon {
	background: url("img/light/png/mail.png") no-repeat;
}

.linkedinicon {
	background: url("img/light/png/linkedin.png") no-repeat;
}

.facebookicon:hover {
	background: url("img/dark/png/facebook.png") no-repeat;
}

.emailicon:hover {
	background: url("img/dark/png/mail.png") no-repeat;
}

.linkedinicon:hover {
	background: url("img/dark/png/linkedin.png") no-repeat;
}

/* ARTICLE PAGE */

article {
	margin: 20px auto;
	margin-bottom: 0;
	padding: 20px;
	padding-bottom: 0;
	max-width: 800px;
}

article a {
	color: #FF7849;
}

article p {
	color: white;
	margin: 20px;
}

article li{
	color:white;
	margin:20px;
}

article p a {
	display: inline-block;
	padding-left: 20px;
}

article ul {
	list-style-type: square;
}

 /* Responsive Design */

@media screen and (max-width: 900px) {
	.expbody h1, .newsbody h1 {
		font-size: 26px;
		padding: 34.5px 0 34.5px 100px;
	}
	.expbody span, .newsbody span {
		font-size: 26px;
	}
	.newsbody article h2 {
		font-size: 20px;
	}
	.newsbody article p {
		font-size: 15px;
	}
}

@media screen and (max-width: 660px) {
	body.home header ul li {
		margin-right: 9999px;
		overflow: hidden;
	}

	body.home header ul li figure {
		display: inline-block;
		position: absolute;
		bottom: 5px;
	}

	.facebookicon {
		right: 100px;
	}

	.emailicon {
		right: 50px;
	}

	.linkedinicon {
		right: 0px;
	}
	.expbody article h2 {
		font-size: 18px;
	}
	.expbody article {
		font-size: 14px;
	}
}

@media screen and (max-width: 540px) {
	body.home header ul li figure {
		bottom: -25px;
		width: 20px;
		height: 20px;
		background-size: 100%;
	}
	
	body.home header ul li figure:hover {
		background-size: 100%;
	}

	.facebookicon {
		right: 60px;
	}

	.emailicon {
		right: 30px;
	}

	.linkedinicon {
		right: 0px;
	}
}

@media screen and (max-width: 500px) {
	.expbody header h1 {
		padding-left: 10px;
		font-size: 18px;
	}
	.expbody header span {
		font-size: 18px;
	}
	.home header h1, .newsbody header h1 {
		padding-left: 34.5px;
	}
	h1:before {
		display: none;
	}
	.newsbody article p:last-child {
		display: none;
	}
}

@media screen and (max-width: 440px) {
	body.home nav ul {
		padding: 10px;
		padding-bottom: 0;
	}
	body.home nav ul li {
		font-size: 12px;
		padding: 2px 6px;
		margin: 3px 6px;
	}
}
